html {
    --javafx-default-bg: #f5f5f5;

    padding: 0;
    background-color: var(--javafx-default-bg);
}

body {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* SVG Styling */

svg {
    /* Fix small bottom overextension */
    margin-bottom: -4px;

    --visited-country: #9cc495;
    --javafx-default-bg: #f5f5f5;
}

g {
    fill: dimgray;
}

#World {
    fill: var(--javafx-default-bg);
}

#Ocean {
    fill: var(--javafx-default-bg)
}

[visited], [visited] * {
    /* !important required to override inline style */
    fill: var(--visited-country)!important;
}